// Breakpoint mixins

@mixin small-phone {
  @media (max-width: #{$xsmall}) {
    @content;
  }
}

@mixin phone {
  @media (min-width: #{$xsmall + 1}) and (max-width: #{$small}) {
    @content;
  }
}

@mixin large-phone {
  @media (min-width: #{$small + 1}) and (max-width: #{$medium}) {
    @content;
  }
}

@mixin small-screen {
  @media (min-width: #{$medium + 1}) and (max-width: #{$large}) {
    @content;
  }
}

@mixin screen {
  @media (min-width: #{$large + 1}) and (max-width: #{$xlarge}) {
    @content;
  }
}

@mixin large-screen {
  @media (min-width: #{$xlarge + 1}) and (max-width: #{$xxlarge}) {
    @content;
  }
}

@mixin super-screen {
  @media (min-width: #{$xxlarge + 1}) {
    @content;
  }
}
