// Dashboard only styling

#dashboard {
    display: block;
    height: 100vh;
}
.dash-sidebar {
    background-color: $dash-greyblue;
    border-right: 0.25px solid ($dash-greyblue, 5%);
    color: $dash-white-body-text-color;
    height: 100vh;
    padding: 20px;
    position: absolute;
    @include box-sizing(border-box);

    hr {
        background: none;
        border-bottom: 0.25px solid darken($dash-greyblue, 5%);
        border-top: 0.25px solid lighten($dash-greyblue, 5%);
        color: transparent;
        font-size: 0;
        height: 0.5px;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    h1, h2, h3, h4 {
        color: $dash-white-heading-text-color!important;
        @include text-shadow(darken($dash-greyblue, 10%) -1px 1px 0px);
    }
    p, a, cite, sub, sup {
        color: $dash-white-body-text-color!important;
        @include text-shadow(darken($dash-greyblue, 10%) -1px 1px 0px);
    }

    small {
        color: darken($dash-white-body-text-color, 20%)!important;
        letter-spacing: $dash-heading-letter-extended-spacing;
        @include text-shadow(darken($dash-greyblue, 10%) -1px 1px 0px);
    }

    // havent got to responsive styling just yet.
    @include small-phone {
        width: 100%;
    }
    @include phone {
        width: 100%;
    }
    @include large-phone {
        width: 22%;
    }
    @include small-screen {
        width: 22%;
    }
    @include screen {
        width: 22%;
    }
    @include large-screen {
        width: 22%;
    }
    @include super-screen {
        width: 22%;
    }
}

.dash-display {
    border-left: 0.25px solid white;
    display: inline-block;
    height: 100vh;
    overflow-y: scroll;
    padding: 50px;
    position: fixed;
    right: 0;
    width: 78%;
    @include box-sizing(border-box);
}

.dash-icon {
    display: inline-block;
    margin-bottom: -5px;
    margin-right: 10px;
    margin-top: 5px;
    width: 20px;
}
