html {
    font-size: $dash-body-font-size;
}

body {
    background-color: $dash-bg-color;
    font-family: $dash-body-font;
    font-size: 1em;
    letter-spacing: $dash-body-letter-spacing;
    line-height: $dash-body-line-height;
    color: $dash-body-font-color;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: $dash-body-margin-bottom;
}

h1, h2, h3, h4 {
    color: $dash-heading-font-color;
    font-family: $dash-heading-font;
    font-weight: inherit;
    letter-spacing: $dash-heading-letter-spacing;
    line-height: 1.2;
    margin: 1.414em 0 0.5em;
    text-transform: $dash-heading-transform;
}


h1 {
    font-size: 1.602em;
    margin-top: 0;
}

h2 {
    font-size: 1.424em;
}

h3 {
    font-size: 1.266em;
}

h4 {
    font-size: 1.11em;
}

small, .font_small {
    font-size: 0.889em;
}
