// Global Variables for use throughout my portfolio //
$background-color: #fefefe;

// Breakpoints //
$xxlarge: 1650px;
$xlarge: 1250px;
$large: 1000px;
$medium: 850px;
$small: 600px;
$xsmall: 400px;

// Colours //
$theme: #221754;
$font-color: rgba(125,125,125,1);
$light-blue: #12f8ce;
$alert-color: tomato;
$green: #12f883;
$pink : #e91e63;


// Typography //
$heading-font:'trumpgothicpro', sans-serif;
$heading-case: none;
$heading-weight: 700;
$paragraph-size: 17px;
$body-font: 'dash-', sans-serif;
$body-case: none;
$body-weight: 400;
$heading-color: darken($font-color, 20%);
$body-color: $font-color;
$strong-font: 'trumpgothicpro', sans-serif;



// Site Colour Variables

$cm-light-blue: rgba(62,62,249,1);
$cm-med-blue: rgba(27,20,100,1);
$cm-dark-blue: rgba(0,0,58,1);
$cm-pink: rgba(255,74,148,1);
$cm-dark-grey: rgba(35,35,35,1);
$cm-grey: rgba(58,58,58,1);
$cm-bg-white: rgba(249,249,249,1);
$cm-white: rgba(255,255,255,1);


// Typography Variables
$font-color: $cm-grey;
$heading-font: sans-serif;
$heading-weight: 700;
$font: sans-serif;
$font-weight: 400;

$body-font: $font;
$body-case: none;


// DASHBOARD Typography
// body
$dash-body-font: 'cmdashregular', sans-serif;
$dash-body-font-color: #444;
$dash-body-font-size: 13px;
$dash-body-letter-spacing: 0.04em;
$dash-body-line-height: 1.5em;
$dash-body-margin-bottom: 1.3em;

$dash-white-body-text-color: rgba(254,254,254,0.6);

//headings
$dash-heading-font: 'cmdashbold', sans-serif;
$dash-heading-transform: uppercase;
$dash-heading-letter-spacing: 0.06em;
$dash-heading-letter-extended-spacing: 0.12em;
$dash-heading-font-color: #222;

$dash-white-heading-text-color: rgba(254,254,254,0.9);

//Colours
$dash-bg-color: #fefefe;
$dash-greyblue: #3d4051;
