@font-face {
    font-family: 'cmdashbold';
    src: url('../fonts/cm-dash-bold-webfont.woff2') format('woff2'),
         url('../fonts/cm-dash-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cmdashregular';
    src: url('../fonts/cm-dash-regular-webfont.woff2') format('woff2'),
         url('../fonts/cm-dash-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cmdashthin';
    src: url('../fonts/cm-dash-thin-webfont.woff2') format('woff2'),
         url('../fonts/cm-dash-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
