html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img, a img {
  border: none !important;
  max-width: 100%;
  outline: none !important; }

@font-face {
  font-family: 'cmdashbold';
  src: url("../fonts/cm-dash-bold-webfont.woff2") format("woff2"), url("../fonts/cm-dash-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'cmdashregular';
  src: url("../fonts/cm-dash-regular-webfont.woff2") format("woff2"), url("../fonts/cm-dash-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'cmdashthin';
  src: url("../fonts/cm-dash-thin-webfont.woff2") format("woff2"), url("../fonts/cm-dash-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 13px; }

body {
  background-color: #fefefe;
  font-family: "cmdashregular", sans-serif;
  font-size: 1em;
  letter-spacing: 0.04em;
  line-height: 1.5em;
  color: #444; }

a {
  text-decoration: none; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-family: "cmdashbold", sans-serif;
  font-weight: inherit;
  letter-spacing: 0.06em;
  line-height: 1.2;
  text-transform: uppercase; }

h1 {
  margin-top: 0;
  font-size: 1.602em; }

h2 {
  font-size: 1.424em; }

h3 {
  font-size: 1.266em; }

h4 {
  font-size: 1.11em; }

small, .font_small {
  font-size: 0.889em; }

#dashboard {
  display: block;
  height: 100vh; }

.dash-sidebar {
  background-color: #3d4051;
  border-right: 0.25px solid #3d4051, 5%;
  color: rgba(254, 254, 254, 0.6);
  padding: 20px;
  position: absolute;
  height: 100vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .dash-sidebar hr {
    height: 0.5px;
    color: transparent;
    background: none;
    font-size: 0;
    border-top: 0.25px solid #484b60;
    border-bottom: 0.25px solid #323542;
    margin-top: 30px;
    margin-bottom: 30px; }
  .dash-sidebar h1, .dash-sidebar h2, .dash-sidebar h3, .dash-sidebar h4 {
    color: rgba(254, 254, 254, 0.9) !important;
    text-shadow: #272934 -1px 1px 0px; }
  .dash-sidebar p, .dash-sidebar a, .dash-sidebar cite, .dash-sidebar sub, .dash-sidebar sup {
    color: rgba(254, 254, 254, 0.6) !important;
    text-shadow: #272934 -1px 1px 0px; }
  .dash-sidebar small {
    letter-spacing: 0.12em;
    color: rgba(203, 203, 203, 0.6) !important;
    text-shadow: #272934 -1px 1px 0px; }
  @media (max-width: 400px) {
    .dash-sidebar {
      width: 100%; } }
  @media (min-width: 401px) and (max-width: 600px) {
    .dash-sidebar {
      width: 100%; } }
  @media (min-width: 601px) and (max-width: 850px) {
    .dash-sidebar {
      width: 22%; } }
  @media (min-width: 851px) and (max-width: 1000px) {
    .dash-sidebar {
      width: 22%; } }
  @media (min-width: 1001px) and (max-width: 1250px) {
    .dash-sidebar {
      width: 22%; } }
  @media (min-width: 1251px) and (max-width: 1650px) {
    .dash-sidebar {
      width: 22%; } }
  @media (min-width: 1651px) {
    .dash-sidebar {
      width: 22%; } }

.dash-display {
  display: inline-block;
  border-left: 0.25px solid white;
  height: 100vh;
  padding: 50px;
  position: fixed;
  right: 0;
  overflow-y: scroll;
  width: 78%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.dash-icon {
  width: 20px;
  display: inline-block;
  margin-bottom: -5px;
  margin-top: 5px;
  margin-right: 10px; }
